progressbar.playback-progress trough {
    border-radius: 3px;
}
progressbar.playback-progress trough progress {
    border-radius: 3px;
    border-right: none;
    border-left: none;
}

popover modelbutton > box > label {
    font-feature-settings: "tnum";
}

/* Episode description */
.episode_description_label link {
    text-decoration: none;
}

.episode_description .button-row {
    padding: 15px 0px;
}

.episode_description .button-row button {
    padding: 10px 20px;
}

.episode_description .button-row button image {
    padding-right: 10px;
}

.episode_description .button-row .cancel-button {
    padding: 0px 0px;
}

.episode_description .button-row .cancel-button .cancel-button-text {
    padding: 12px 20px;
    padding-bottom: 11px;
}

.episode_description .button-row .cancel-button progressbar {
    padding: 0px;
}

.episode_description progressbar {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
}

.episode_description progressbar trough {
    min-height: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.episode_description progressbar trough progress {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* Discovery Search */
.rounded-big {
    border-radius: 8px;
}

.rounded-small {
    border-radius: 4px;
}

.show-button {
    padding: 0px;
}

.taller-button {
    padding-top: 4px;
    padding-bottom: 4px;
}

.shows-grid {
    background: transparent;
    padding-top: 12px;
    padding-bottom: 26px;
    padding-left: 6px;
    padding-right: 6px;
}

.shows-grid > * {
    padding: 0px;
    margin: 6px;
}

.home-view-episode-cover {
    background: color-mix(in srgb, currentColor 25%, transparent);
    color: color-mix(in srgb, currentColor 40%, transparent);
}

.shows-view-cover {
    background: color-mix(in srgb, currentColor 15%, transparent);
}

